*{
	box-sizing: border-box;
}

.container{
	width: 80%;
	margin: 0 auto;
}

header * {
	display: block;
	margin: 0 auto;
}
header h1 {
	text-align: center;
}

aside h2{
	border-top-style: solid;
	border-bottom-style: solid;
	text-align: center;
}
main article{
	display: inline-block;
	width: 24%;
}
main article h2{
	display: inline-block;
}
main article img{
	display: inline-block;
}
main article{

}
footer {
	margin: 0 auto;
	width: 28%;
}
footer * {
	display: inline-block;	
}

footer p {
	color: #737373;
}
footer img{
	margin-top: 20px;
}